<div class="flex justify-between h-fit overflow-y-hidden relative">
    <img src="assets/images/homeBG.jpg" class="absolute z-[-1] w-full min-h-full h-screen" alt="">
    <div class="text-white ml-[40px] mt-[64px] text-[24px] font-roboto font-bold">
        <a routerLink="/">
            <div class="flex items-center gap-[24px]">
                <div>
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.5 16H6M6 16L13.5 8.5M6 16L13.5 23.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </div>
                <div>
                    <p>Home</p>
                </div>
            </div>
        </a>
    </div>
    <router-outlet></router-outlet>
</div>