<div class="ml-[30px] mr-[30px]">
    <div class="flex justify-between items-baseline">
      <div>
        <div class="w-[200px] h-[32px] bg-gray-200 rounded animate-pulse"></div>
      </div>
      <div>
        <div class="w-[80px] h-[32px] bg-gray-200 rounded animate-pulse"></div>
      </div>
    </div>
    <div class="flex gap-[24px] items-center justify-center pr-[30px] pl-[30px] mt-[40px] mb-[97px]">
      <div>
        <div class="w-[86px] h-[86px] rounded-full bg-gray-200 animate-pulse"></div>
      </div>
      <div id="slider" class="keen-slider">
        <div class="keen-slider__slide">
          <div class="w-fit cursor-pointer">
            <div class="mb-[24px]">
              <div class="rounded-[16px] min-w-[320px] max-w-[320px] min-h-[452px] max-h-[452px] bg-gray-200 animate-pulse"></div>
            </div>
            <div class="text-left text-[#333333]">
              <div class="w-[200px] h-[24px] bg-gray-200 rounded mb-[4px] animate-pulse"></div>
              <div class="w-[150px] h-[20px] bg-gray-200 rounded animate-pulse"></div>
            </div>
          </div>
        </div>
        <div class="keen-slider__slide">
          <div class="w-fit cursor-pointer">
            <div class="mb-[24px]">
              <div class="rounded-[16px] min-w-[320px] max-w-[320px] min-h-[452px] max-h-[452px] bg-gray-200 animate-pulse"></div>
            </div>
            <div class="text-left text-[#333333]">
              <div class="w-[200px] h-[24px] bg-gray-200 rounded mb-[4px] animate-pulse"></div>
              <div class="w-[150px] h-[20px] bg-gray-200 rounded animate-pulse"></div>
            </div>
          </div>
        </div>
        <div class="keen-slider__slide">
          <div class="w-fit cursor-pointer">
            <div class="mb-[24px]">
              <div class="rounded-[16px] min-w-[320px] max-w-[320px] min-h-[452px] max-h-[452px] bg-gray-200 animate-pulse"></div>
            </div>
            <div class="text-left text-[#333333]">
              <div class="w-[200px] h-[24px] bg-gray-200 rounded mb-[4px] animate-pulse"></div>
              <div class="w-[150px] h-[20px] bg-gray-200 rounded animate-pulse"></div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="w-[86px] h-[86px] rounded-full bg-gray-200 animate-pulse"></div>
      </div>
    </div>
</div>