.timeSelected {
    @apply border border-black text-white bg-black;
}

.timeNotSelected {
    @apply border border-[#BDC5D4] text-black bg-white hover:text-white hover:bg-black ease-in-out duration-300;
}

.error {
    @apply border-[#FF6B6B] text-[#FF6B6B];
}

.suggestionsDiv::-webkit-scrollbar {
    width: 10px;
} 

.suggestionsDiv::-webkit-scrollbar-track {
    background: white;
}

.suggestionsDiv::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5.07px;
}