<section class="bg-[rgb(26,26,26)]">
    <div class="mx-[48px] h-[480px] py-[32px] bg-[rgb(26,26,26)]" style="background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.04) 97.47%, rgb(26, 26, 26) 100%); background-repeat: no-repeat; background-position: right center;">
        <div class="flex items-start mx-[100px] relative">
            <div>
                <div class="relative">
                    <div class="rounded-[16px_16px_0px_0px] w-[255px] h-[392px] bg-gray-700 animate-pulse"></div>
                    <div class="rounded-[24px] select-none py-[4px] px-[8px] shadow-[rgba(0,0,0,0.16)_0px_1px_8px] bg-[rgba(34,34,34,0.8)] flex items-center z-50 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                        <div class="w-4 h-4 bg-gray-500 rounded-full mr-2"></div>
                        <div class="w-16 h-4 bg-gray-500 rounded"></div>
                    </div>
                </div>
                <div class="bg-black justify-center items-center flex w-[255px] p-2 rounded-[0px_0px_16px_16px]">
                    <div class="w-20 h-4 bg-gray-700 rounded animate-pulse"></div>
                </div>
            </div>
            <div class="pl-[32px] flex-1">
                <div class="w-[400px] h-10 bg-gray-700 rounded animate-pulse mb-4"></div>
                <section class="block">
                    <div class="w-[446px] mt-[16px] py-[12px] px-[24px] justify-between items-center flex bg-[rgb(51,51,51)] mb-0 mx-0 rounded-lg">
                        <div class="flex items-center space-x-2">
                            <div class="w-6 h-6 bg-gray-600 rounded-full animate-pulse"></div>
                            <div class="w-16 h-6 bg-gray-600 rounded animate-pulse"></div>
                            <div class="w-24 h-6 bg-gray-600 rounded animate-pulse"></div>
                            <div class="w-4 h-4 bg-gray-600 rounded animate-pulse"></div>
                        </div>
                        <div>
                            <div class="w-[72px] h-[36px] bg-gray-600 rounded animate-pulse"></div>
                        </div>
                    </div>
                </section>
                <div class="pt-[16px]">
                    <div class="flex space-x-2">
                        <div class="w-16 h-6 bg-gray-600 rounded animate-pulse"></div>
                        <div class="w-16 h-6 bg-gray-600 rounded animate-pulse"></div>
                        <div class="w-16 h-6 bg-gray-600 rounded animate-pulse"></div>
                    </div>
                </div>
                <div class="pt-[16px] flex items-center space-x-2">
                    <div class="w-20 h-6 bg-gray-600 rounded animate-pulse"></div>
                    <div class="w-1 h-1 bg-gray-600 rounded-full"></div>
                    <div class="w-32 h-6 bg-gray-600 rounded animate-pulse"></div>
                    <div class="w-1 h-1 bg-gray-600 rounded-full"></div>
                    <div class="w-24 h-6 bg-gray-600 rounded animate-pulse"></div>
                </div>
                <div class="mt-[32px]">
                    <div class="w-[216px] h-[48px] bg-gray-600 rounded animate-pulse"></div>
                </div>
            </div>
            <div class="absolute top-0 right-0">
                <section class="flex h-12 w-[122px] bg-[rgba(34,34,34,0.8)] opacity-80 rounded px-4 py-0">
                    <div class="justify-between items-center flex w-full">
                        <div class="w-8 h-8 bg-gray-600 rounded-full animate-pulse"></div>
                        <div class="w-16 h-6 bg-gray-600 rounded animate-pulse"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mx-[148px]">
        <div class="py-[32px]">
            <span class="flex flex-col w-full h-full">
                <h4 class="text-2xl font-bold leading-[30px] text-black" >About the  movie</h4>
                <div class="text-base font-normal leading-6 tracking-[0.2px] text-[rgb(51,51,51)] pt-4">
                    <div class="w-full h-4 bg-gray-200 rounded animate-pulse mb-2"></div>
                    <div class="w-full h-4 bg-gray-200 rounded animate-pulse mb-2"></div>
                    <div class="w-3/4 h-4 bg-gray-200 rounded animate-pulse"></div>
                </div>
            </span>
        </div>
        <div class="py-[32px] border-t-neutral-200 border-t border-solid">
            <div>
                <p class="tracking-[0.2px] text-black text-2xl font-bold leading-[30px]">Cast</p>
            </div>
            <div class="flex gap-[8px] pt-[16px] relative">
                <div class="flex items-start text-center overflow-hidden">
                    <div class="max-w-[120px] min-w-[120px] mx-1">
                        <div class="max-h-[120px] min-h-[120px] max-w-[120px] min-w-[120px] bg-gray-300 rounded-[60px] animate-pulse"></div>
                        <div class="w-3/4 h-4 bg-gray-300 rounded mt-2 mx-auto animate-pulse"></div>
                        <div class="w-1/2 h-3 bg-gray-300 rounded mt-1 mx-auto animate-pulse"></div>
                    </div>
                    <div class="max-w-[120px] min-w-[120px] mx-1">
                        <div class="max-h-[120px] min-h-[120px] max-w-[120px] min-w-[120px] bg-gray-300 rounded-[60px] animate-pulse"></div>
                        <div class="w-3/4 h-4 bg-gray-300 rounded mt-2 mx-auto animate-pulse"></div>
                        <div class="w-1/2 h-3 bg-gray-300 rounded mt-1 mx-auto animate-pulse"></div>
                    </div>
                    <div class="max-w-[120px] min-w-[120px] mx-1">
                        <div class="max-h-[120px] min-h-[120px] max-w-[120px] min-w-[120px] bg-gray-300 rounded-[60px] animate-pulse"></div>
                        <div class="w-3/4 h-4 bg-gray-300 rounded mt-2 mx-auto animate-pulse"></div>
                        <div class="w-1/2 h-3 bg-gray-300 rounded mt-1 mx-auto animate-pulse"></div>
                    </div>
                    <div class="max-w-[120px] min-w-[120px] mx-1">
                        <div class="max-h-[120px] min-h-[120px] max-w-[120px] min-w-[120px] bg-gray-300 rounded-[60px] animate-pulse"></div>
                        <div class="w-3/4 h-4 bg-gray-300 rounded mt-2 mx-auto animate-pulse"></div>
                        <div class="w-1/2 h-3 bg-gray-300 rounded mt-1 mx-auto animate-pulse"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-[32px] border-t-neutral-200 border-t border-solid">
            <div>
                <p class="tracking-[0.2px] text-black text-2xl font-bold leading-[30px]">Crew</p>
            </div>
            <div class="flex gap-[8px] pt-[16px] relative">
                <div class="flex items-start text-center overflow-hidden">
                    <div class="max-w-[120px] min-w-[120px] mx-1">
                        <div class="max-h-[120px] min-h-[120px] max-w-[120px] min-w-[120px] bg-gray-300 rounded-[60px] animate-pulse"></div>
                        <div class="w-3/4 h-4 bg-gray-300 rounded mt-2 mx-auto animate-pulse"></div>
                        <div class="w-1/2 h-3 bg-gray-300 rounded mt-1 mx-auto animate-pulse"></div>
                    </div>
                    <div class="max-w-[120px] min-w-[120px] mx-1">
                        <div class="max-h-[120px] min-h-[120px] max-w-[120px] min-w-[120px] bg-gray-300 rounded-[60px] animate-pulse"></div>
                        <div class="w-3/4 h-4 bg-gray-300 rounded mt-2 mx-auto animate-pulse"></div>
                        <div class="w-1/2 h-3 bg-gray-300 rounded mt-1 mx-auto animate-pulse"></div>
                    </div>
                    <div class="max-w-[120px] min-w-[120px] mx-1">
                        <div class="max-h-[120px] min-h-[120px] max-w-[120px] min-w-[120px] bg-gray-300 rounded-[60px] animate-pulse"></div>
                        <div class="w-3/4 h-4 bg-gray-300 rounded mt-2 mx-auto animate-pulse"></div>
                        <div class="w-1/2 h-3 bg-gray-300 rounded mt-1 mx-auto animate-pulse"></div>
                    </div>
                    <div class="max-w-[120px] min-w-[120px] mx-1">
                        <div class="max-h-[120px] min-h-[120px] max-w-[120px] min-w-[120px] bg-gray-300 rounded-[60px] animate-pulse"></div>
                        <div class="w-3/4 h-4 bg-gray-300 rounded mt-2 mx-auto animate-pulse"></div>
                        <div class="w-1/2 h-3 bg-gray-300 rounded mt-1 mx-auto animate-pulse"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-[32px] border-t-neutral-200 border-t border-solid">
            <div class="flex justify-between items-center">
                <div>
                    <p class="tracking-[0.2px] text-black text-2xl font-bold leading-[30px]">Top reviews</p>
                </div>
                <div class="flex items-center gap-[12px]">
                    <div class="w-24 h-6 bg-gray-300 rounded animate-pulse"></div>
                    <div class="w-4 h-4 bg-gray-300 rounded-full animate-pulse"></div>
                </div>
            </div>
            <div class="pl-0 pr-4 pt-6 pb-0">
                <div class="w-3/4 h-5 bg-gray-200 rounded animate-pulse"></div>
            </div>
            <div class="relative">
                <div class="flex transition-[0.5s] scroll-smooth pt-6 pb-0 px-0 gap-[32px]">
                    <div class="p-6 border rounded border-solid border-gray-300 w-96 bg-white">
                        <div class="flex items-start justify-between">
                            <div class="flex items-center">
                                <div class="w-10 h-10 bg-gray-200 rounded-full"></div>
                                <div class="ml-3">
                                    <div class="h-4 w-20 bg-gray-200 rounded"></div>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <div class="w-6 h-6 bg-gray-200 rounded-full"></div>
                                <div class="ml-1 h-4 w-10 bg-gray-200 rounded"></div>
                            </div>
                        </div>
                        <div class="mt-6">
                            <div class="h-4 w-full bg-gray-200 rounded mb-2"></div>
                            <div class="h-4 w-full bg-gray-200 rounded mb-2"></div>
                            <div class="h-4 w-3/4 bg-gray-200 rounded"></div>
                        </div>
                        <div class="mt-4 flex justify-between items-center">
                            <div class="flex">
                                <div class="w-6 h-6 bg-gray-200 rounded-full"></div>
                                <div class="ml-1 h-4 w-8 bg-gray-200 rounded"></div>
                                <div class="ml-6 w-6 h-6 bg-gray-200 rounded-full"></div>
                            </div>
                            <div class="h-4 w-24 bg-gray-200 rounded"></div>
                        </div>
                    </div>
                    <div class="p-6 border rounded border-solid border-gray-300 w-96 bg-white">
                        <div class="flex items-start justify-between">
                            <div class="flex items-center">
                                <div class="w-10 h-10 bg-gray-200 rounded-full"></div>
                                <div class="ml-3">
                                    <div class="h-4 w-20 bg-gray-200 rounded"></div>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <div class="w-6 h-6 bg-gray-200 rounded-full"></div>
                                <div class="ml-1 h-4 w-10 bg-gray-200 rounded"></div>
                            </div>
                        </div>
                        <div class="mt-6">
                            <div class="h-4 w-full bg-gray-200 rounded mb-2"></div>
                            <div class="h-4 w-full bg-gray-200 rounded mb-2"></div>
                            <div class="h-4 w-3/4 bg-gray-200 rounded"></div>
                        </div>
                        <div class="mt-4 flex justify-between items-center">
                            <div class="flex">
                                <div class="w-6 h-6 bg-gray-200 rounded-full"></div>
                                <div class="ml-1 h-4 w-8 bg-gray-200 rounded"></div>
                                <div class="ml-6 w-6 h-6 bg-gray-200 rounded-full"></div>
                            </div>
                            <div class="h-4 w-24 bg-gray-200 rounded"></div>
                        </div>
                    </div>
                    <div class="p-6 border rounded border-solid border-gray-300 w-96 bg-white">
                        <div class="flex items-start justify-between">
                            <div class="flex items-center">
                                <div class="w-10 h-10 bg-gray-200 rounded-full"></div>
                                <div class="ml-3">
                                    <div class="h-4 w-20 bg-gray-200 rounded"></div>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <div class="w-6 h-6 bg-gray-200 rounded-full"></div>
                                <div class="ml-1 h-4 w-10 bg-gray-200 rounded"></div>
                            </div>
                        </div>
                        <div class="mt-6">
                            <div class="h-4 w-full bg-gray-200 rounded mb-2"></div>
                            <div class="h-4 w-full bg-gray-200 rounded mb-2"></div>
                            <div class="h-4 w-3/4 bg-gray-200 rounded"></div>
                        </div>
                        <div class="mt-4 flex justify-between items-center">
                            <div class="flex">
                                <div class="w-6 h-6 bg-gray-200 rounded-full"></div>
                                <div class="ml-1 h-4 w-8 bg-gray-200 rounded"></div>
                                <div class="ml-6 w-6 h-6 bg-gray-200 rounded-full"></div>
                            </div>
                            <div class="h-4 w-24 bg-gray-200 rounded"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>