<div class="pl-[60px] pr-[60px] relative overflow-x-hidden mb-[97px]">
  <div class="absolute z-[1] top-1/2 -translate-y-1/2 left-0 translate-x-[12%]">
    <div class="w-[86px] h-[86px] rounded-full bg-gray-200 animate-pulse"></div>
  </div>
  <div class="keen-slider">
    <div class="keen-slider__slide number-slide1">
      <div class="w-full h-[200px] bg-gray-200 animate-pulse"></div>
    </div>
    <div class="keen-slider__slide number-slide2">
      <div class="w-full h-[200px] bg-gray-200 animate-pulse"></div>
    </div>
    <div class="keen-slider__slide number-slide3">
      <div class="w-full h-[200px] bg-gray-200 animate-pulse"></div>
    </div>
    <div class="keen-slider__slide number-slide4">
      <div class="w-full h-[200px] bg-gray-200 animate-pulse"></div>
    </div>
    <div class="keen-slider__slide number-slide5">
      <div class="w-full h-[200px] bg-gray-200 animate-pulse"></div>
    </div>
    <div class="keen-slider__slide number-slide6">
      <div class="w-full h-[200px] bg-gray-200 animate-pulse"></div>
    </div>
  </div>
  <div
    class="absolute z-[1] top-1/2 -translate-y-1/2 right-0 translate-x-[-12%]"
  >
    <div class="w-[86px] h-[86px] rounded-full bg-gray-200 animate-pulse"></div>
  </div>
</div>
