<div class="min-h-screen flex items-center">
    <div
      class="p-[80px] pt-[98px] pb-[40px] mr-[49px] bg-white font-roboto font-normal w-[656px]"
    >
      <div>
        <h1 class="font-roboto font-bold text-[36px]">Welcome  🎉</h1>
      </div>
      <div class="mt-[18px] font-roboto font-bold text-[20px]">
        <p>Thank you for joining with us.</p>
      </div>
      <div class="mt-[40px] font-roboto font-semibold text-[rgba(0,0,0,0.75)]" >
        <p>*We're thrilled to have you onboard Our team will reach out to you shortly to guide you through your next steps.</p>
      </div>
      <div class="mt-[221px]">
        <p class="font-roboto font-normal text-[12px]">2024 CineHub. Contact Us: {{ 'cinehub@gmail.com' }} | +91 8163334162</p>
      </div>
    </div>
</div>