<div>
    <div class="bg-[#EEEEEE] px-[40px] pt-[32px]">
        <div class="flex items-center justify-start mb-[32px]">
            <div>
                <h2 class="font-semibold text-[20px] text-black">{{ title }}</h2>
                <p class="text-[14px] text-[rgba(0,0,0,0.5)]">{{ subDescription }}</p>
            </div>
        </div>
        <div>
            <nav>
                <ul class="flex items-center gap-[16px] text-[16px] text-[rgba(0,0,0,0.25)] border-b-[1px] border-[rgba(0,0,0,0.08)] border-solid">
                    <a routerLink="/admin/administration/userManagement" routerLinkActive="activeRoute" [routerLinkActiveOptions]="{ exact: true }">
                        <li>
                            <p>Users</p>
                        </li>
                    </a>
                    <a routerLink="/admin/administration/theaterOwnerManagement" routerLinkActive="activeRoute" [routerLinkActiveOptions]="{ exact: true }">
                        <li>
                            <p>Theater Owner</p>
                        </li>
                    </a>
                    <a routerLink="/admin/administration/distributerManagement" routerLinkActive="activeRoute" [routerLinkActiveOptions]="{ exact: true }">
                        <li>
                            <p>Distributer</p>
                        </li>
                    </a>
                </ul>
            </nav>
        </div>
    </div>
    <div class="flex justify-center mt-[40px]">
        <router-outlet></router-outlet>
    </div>
</div>