@if(isDataRetriving) {
    <app-skeleton-card-slider></app-skeleton-card-slider>

    <app-skeleton-carousel></app-skeleton-carousel>
}




@if(!isDataRetriving && nowPlayingMovies.length) {
    <app-card-slider [movies]="nowPlayingMovies" cardTitle="Movies" ></app-card-slider>
}

@if(!isDataRetriving) {
    <app-carousel></app-carousel>
}

@if(!isDataRetriving && upcommingMovies.length) {
    <app-card-slider [movies]="upcommingMovies" cardTitle="Coming Soon" ></app-card-slider>
}

@if(!isDataRetriving && recommendedMovies.length) {
    <app-card-slider [movies]="recommendedMovies" cardTitle="Recommended Movies" ></app-card-slider>
}