input {
    border-color: #9DA8BE;
    border-bottom-width: 1px;
    outline: transparent;
    padding-bottom: 8px;
    width: 423px;
    height: 41px;
}

.error {
    border-color: #FF6B6B;
    color: #FF6B6B;
}

.radio {
    width: 12px;
    height: 12px;
}

.custom-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
  }

  .custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.65);
    border-radius: 50%;
  }

  .custom-radio input:checked ~ .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #1A2C50;
    transform: translate(-50%, -50%);
  }
