<div class="flex w-full items-center p-[36px] justify-between pt-[8px] pb-[8px]">
    <div class="font-roboto font-normal text-[14px] ">
        <ul class="p-0 m-0 list-none flex items-center gap-[16px]">
            <li>
                <a class="w-full h-full" routerLink="" >Movies</a>
            </li>
            <li>
                <a class="w-full h-full" routerLink="" >Streams</a>
            </li>
            <li>
                <a class="w-full h-full" routerLink="" >Events</a>
            </li>
            <li>
                <a class="w-full h-full" routerLink="" >Sports</a>
            </li>
        </ul>
    </div>
    <div>
        <form>
            <select id="default" class="bg-white border border-transparent text-black text-[14px] font-roboto font-normal p-2.5 outline-none" >
              <option selected hidden >Choose a Location</option>
              <option value="US">Kozhikode</option>
              <option value="CA">Kannur</option>
              <option value="FR">Wayanad</option>
            </select>
          </form>
    </div>
</div>