<div class="px-[40px]">
    <div class="mb-[30px] flex justify-end">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="text" id="table-search-users" class="outline-none block py-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50" placeholder="Search">
        </div>
    </div>
    <div class="rounded-lg w-fit h-fit">
        <table class="shadow-lg font-roboto font-normal w-full border-[rgba(238,238,238,0.5)] border-[2px] border-solid rounded-[8px]">
            <thead>
                <tr>
                    <th class="font-semibold text-[14px] font-roboto text-left pl-[24px] min-w-[405px] py-[11px]">
                        Name
                    </th>
                    <th class="font-semibold text-[14px] font-roboto text-left pl-[24px] min-w-[200px] py-[11px]">
                        Email
                    </th>
                    <th class="font-semibold text-[14px] font-roboto text-left pl-[24px] min-w-[200px] py-[11px]">
                        PhoneNumber
                    </th>
                    <th class="font-semibold text-[14px] font-roboto text-left pl-[24px] min-w-[120px] py-[11px]">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-[rgba(238,238,238,0.25)]">
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        Priyanjith N
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        jithpriyan{{ '@' }}gmail.com
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        9188336166
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        <div>
                            <button class="bg-black py-1 px-3 rounded-[5px]">
                                <div class="flex gap-[8px]">
                                    <div>
                                        <p class="text-white" >Block</p>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-ban" style="color: red;"></i>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="bg-white">
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        Priyanjith N
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        jithpriyan{{ '@' }}gmail.com
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        9188336166
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        <div>
                            <button class="bg-black py-1 px-3 rounded-[5px]">
                                <div class="flex gap-[8px]">
                                    <div>
                                        <p class="text-white" >Block</p>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-ban" style="color: red;"></i>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="bg-[rgba(238,238,238,0.25)]">
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        Priyanjith N
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        jithpriyan{{ '@' }}gmail.com
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        9188336166
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        <div>
                            <button class="bg-black py-1 px-3 rounded-[5px]">
                                <div class="flex gap-[8px]">
                                    <div>
                                        <p class="text-white" >Block</p>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-ban" style="color: red;"></i>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr class="bg-white">
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        Priyanjith N
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        jithpriyan{{ '@' }}gmail.com
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        9188336166
                    </td>
                    <td class="font-normal text-[14px] font-roboto text-left pl-[24px] py-[11px]">
                        <div>
                            <button class="bg-black py-1 px-3 rounded-[5px]">
                                <div class="flex gap-[8px]">
                                    <div>
                                        <p class="text-white" >Block</p>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-ban" style="color: red;"></i>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex items-center justify-between pt-[30px]">
        <div>
            <div class="flex flex-col items-center">
                <!-- Help text -->
                <span class="text-sm text-gray-700">
                    Showing <span class="font-semibold text-gray-900">1</span> to <span class="font-semibold text-gray-900">10</span> of <span class="font-semibold text-gray-900">100</span> Entries
                </span>
            </div>
        </div>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="inline-flex -space-x-px text-sm">
                  <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-black bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-black hover:text-white">Previous</a>
                  </li>
                  <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border border-gray-300 hover:bg-black hover:text-white">1</a>
                  </li>
                  <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border border-gray-300 hover:bg-black hover:text-white">2</a>
                  </li>
                  <li>
                    <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-white border-gray-300 bg-black hover:bg-[rgba(0,0,0,0.75)] hover:text-white">3</a>
                  </li>
                  <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border border-gray-300 hover:bg-black hover:text-white">4</a>
                  </li>
                  <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border border-gray-300 hover:bg-black hover:text-white">5</a>
                  </li>
                  <li>
                    <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border border-gray-300 rounded-e-lg hover:bg-black hover:text-white">Next</a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</div>